.chat__edit {
  margin-top: 10px;
}

.modal__content > .chat__edit {
  flex-grow: 1;
  flex-direction: column;
}

.modal__content .chat__send {
  margin: 0 1px 0 10px;
  padding: 5px 0 5px 5px;
}

.chat__text {
  width: 100%;
}

.chat__input {
  flex-grow: 1;
  border-radius: 5px;
}

.chat__send {
  all: unset;
  align-self: center;
  text-align: center;
  width: 90px;
  height: 25px;
  margin: 0 30px;
  font-family: "Concert One", cursive;
  background-color: #e7e7e7;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dedede;
  cursor: pointer;
}

.chat__send i {
  margin-right: 10px;
}

.chat__send:hover {
  background-color: #e3e3e3;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

button:disabled,
button[disabled] {
  opacity: 0.75;
  cursor: not-allowed;
}
