/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Concert One', cursive; */

body {
  margin: 0;
  padding: 15px 20px;
  font-family: "Roboto", sans-serif;
}

body * {
  display: flex;
}

.container {
  display: block;
  margin: 0;
  padding: 0;
  min-width: 600px;
  min-height: 570px;
}

.logo {
  align-items: center;
}

.logo__img {
  height: 60px;
}

.logo__text {
  font-family: "Concert One", cursive;
  font-size: 0.75em;
}

.chat__container {
  margin: 0 20px;
  padding: 10px;
  height: calc(100vh - 170px);
  min-height: 550px;
  min-width: 600px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

.loading__container {
  height: 100%;
  justify-items: center;
  align-items: center;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat__header {
  height: 30px;
  padding: 10px 5px;
  font-family: "Concert One", cursive;
}

.chat__header > * {
  border-radius: 5px;
  margin-right: 25px;
  padding: 5px 10px;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

.chat__last-msg {
  margin-left: auto;
  margin-right: 0;
}

.chat__body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  min-height: 400px;
  min-width: 600px;
  overflow-y: auto;
  align-items: flex-start;
}

.message {
  max-width: 75%;
  margin: 15px 0;
  background: #f5f5f5;
  border-radius: 5px;
}

.message__avatar {
  padding: 5px;
}

.message__avatar img {
  height: 50px;
  border-radius: 50%;
}

.message__text {
  padding: 5px;
  overflow-wrap: break-word;
}

.message__aside {
  flex-direction: column;
  padding: 5px;
}

.message__time {
  justify-content: flex-end;
  flex-grow: 0;
}

.message__likes {
  flex-grow: 1;
  align-items: flex-end;
}

.message__like,
.message__edit {
  margin-left: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

.message__like {
  margin-left: 15px;
}

.message__like:hover,
.message__edit:hover {
  color: blue;
}

.own-message {
  margin-left: auto;
}

.chat__edit {
  margin-top: 10px;
}

.chat__text {
  width: 100%;
}

.chat__input {
  flex-grow: 1;
  border-radius: 5px;
}

.chat__send {
  all: unset;
  align-self: center;
  text-align: center;
  width: 90px;
  height: 25px;
  margin: 0 30px;
  font-family: "Concert One", cursive;
  background-color: #e7e7e7;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dedede;
  cursor: pointer;
}

.chat__send i {
  margin-right: 10px;
}

.chat__send:hover {
  background-color: #e3e3e3;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

.footer {
  height: 60px;
  justify-content: center;
}

.copyright {
  font-family: "Concert One", cursive;
  align-items: center;
}

.divider {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/* fancy styling */
/* loader */
.loading {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #dedede transparent #dedede transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* scroll bar style */
.chat__body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.chat__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

.chat__body::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.chat__body::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22add4, #1e98ba);
}
