.message {
  max-width: 75%;
  margin: 15px 0;
  background: #f5f5f5;
  border-radius: 5px;
}

.message__avatar {
  padding: 5px;
}

.message__avatar img {
  height: 50px;
  border-radius: 50%;
}

.message__text {
  padding: 5px;
  overflow-wrap: break-word;
}

.message__aside {
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
}

.message__time {
  justify-content: flex-end;
  flex-grow: 0;
  min-width: 100px;
}

.message__likes {
  flex-grow: 1;
  align-items: flex-end;
}

.message__like,
.message__edit,
.message__delete {
  margin-left: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

.message__like {
  margin-left: 15px;
}

.message__like:hover,
.message__edit:hover,
.message__delete:hover {
  color: blue;
}

.own-message {
  margin-left: auto;
  margin-right: 5px;
}

.own-message .message__body {
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}
